.header {
    text-align: center;
    font-size: 75px;
    color: black;
}

.headerAbout {
    text-align: center;
    font-size: 75px;
    color: black;
}

#boatPic {
    height: 250px;
    width: 250px;
    float: right;
    position: relative;
}

#loginWidget {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}
#loginWidget > h2 {
    margin: 0;
    padding: 2px;
}
#loginWidget form {
    background-color: black;
    border: 1px solid dodgerblue;
    color: white;
    padding: 0.5em 0;
    border-radius: 0 0 10px 10px;
}
#loginWidget form label {
    width: 95px;
    text-align: right;
    display: inline-block;
}
#loginWidget div.stack {
    margin: 1em 0;
}
div.ui-state-error {
    padding: 4px 0;
}
div.pageWidget {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.backGround {
    height: 100vh;
    min-height: 100vh;
    background-color: lightblue;
    background-image: linear-gradient(lightblue, Dodgerblue);
}

.imgHome {
    float: center;
    height: 250px;
    width: 350px;
    padding: 20px;
}

#imgAbout {
    position: relative;
    float: left;
    width: 250px;
    height: 200px;
    padding: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#homePlaque {
    color: black;
    text-align: center;
    font-size: 35px;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: dodgerblue;
    color: white;
}

.active {
    background-color: dodgerblue;
    color: white;
}